-----BEGIN CERTIFICATE-----
MIIE+zCCAuOgAwIBAgIUKWtvBnj8S1bcSprP5+0K56eq87IwDQYJKoZIhvcNAQEL
BQAwDTELMAkGA1UECgwCbWUwHhcNMjIwMjE0MTU1OTM3WhcNMjIwMzE2MTU1OTM3
WjANMQswCQYDVQQKDAJtZTCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIB
AM29NOoYdUpZyOi8f8+y8IR4yL9FA1XOB9mcvQr+7wwpYfDWaeKNsEYSl95HLls3
Oq2Dd0Z96LPcWuXGZHV5Fw5TZz4881sbXw1dKoZDmRmUFfwqgWjjv8CXSnC81Xpc
cP3UJgxiKxycH5uyAXNbjR7jJFDwKKcIzkplElCmPkHaTStoF4jhqsBPUQ/NyCKi
ivYLUZmxBTLtlmGx7Vm61LOJ0Q+qSnwZofYjnOvJTLYOIf7SFlA8y4w3TPvrSLcj
PE2iwnC4Yu5LJdrPFtE91+4ne0wtrEiSMZDEZvwMYitY9jZmuz24dWQbra6w+oeh
AfEuA1nGHHuoc+JUmnjniJUjRdOuxY7672dT58gb65RqfnooY6imjr+C00mlE+lU
W8E1jebIvUd3PwajOvvVL6GLRlenUqjf2jw/YIg1XA8HwNO1EpWKXQgWQIwwGcMO
BecssSINmmWVxUbeFe/0BIYsqYkmK4WKL4H9qJxAGa5IxT4jGVscRrV1anq3R8Yu
x7hu1BhlOdhfLjOWc/fHdPxDtC0cOUZ/p0ZoEP8dfn2+cF+TekhEZy4UZT9Mt4vB
+DNxfq8b4S3g8QGmosd5TXI1o03MIG/1gDOU5h2q12XkCGTpZx3gbYK69bo/h9pV
eicFIJ7yj3Rf/EtpSZ2UsPKCjmMn2fVVhHqEUrxuPTRpAgMBAAGjUzBRMB0GA1Ud
DgQWBBQXe8NRn+lpRYDzgz5Be7NKrLjohjAfBgNVHSMEGDAWgBQXe8NRn+lpRYDz
gz5Be7NKrLjohjAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4ICAQDC
5I5N03uhn+UTLl7ZLUzKkOJC33eVIOdBCZWLd2bVGPzbC8rL+0mlRLAf4w3jJHOH
Twi2SLqJHRY3Fu+P6IBFuzSnhKjRgzqvDI2DeHsTfWBM+nimhChwcUxeJ9oDchVk
ZFdud4Kbtn19NTBc2VjPmAy6gkGHs0+ONp4YH6udSkkKhxQdZCOSsECeDdFa9i6f
HytMoX8+5NwIytLeGYn3i5zHmyMwI2QF4rx1GhWaQWAsy83uj6hpVc+3JH7kgNKN
TGIDbQfdhReGxWsDkTO5f3TrAB2T7ufd3E0T+uf6reCvlKFgC3s3QunM+jlnqQL+
xteKPKabXIq+omGCylOypzWAUbsqqxGz2HZrfAkaQIHp6+AMyF+mxDBVWEDh+ug9
g8gS+AeZPuHVA5WqI34rrCUHPYNKd+LFs+h0x2ZR+z+J2EDrXwHwf6BO+0G7TPvd
h3QlAuAg4i69FJzzKqZzj5qIIu7oaLDK+XHRMUE50IiMPclajRaJfWE8rPF9cmvb
SvPxC2ufYq44YEzz+YSyudUm7znJOroYcy1yGQyuwt1z6jr62gz0VV3rXDJDUfCX
6LC+SQhEtX9jK2NH+w86KP/QHcJ+9zbvkkBL1DUMudtf7ShoMm6+cR8D29tVm94H
D/VneXyFkZIfw7C5bhannazm4KbHwL28aAJhuk2w2Q==
-----END CERTIFICATE-----
